XML-2-Recursos/WebContent/WEB-INF/xml/tipos_recursos.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="tipos_recursos">
        
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="tipo_recurso" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="tipo_recurso">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="codigo" type="xs:string" use="required" />
                </xs:extension>
            </xs:simpleContent>    
        </xs:complexType>
    </xs:element>

</xs:schema>    